################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LexT/v16
/.vs
/Source/.vs/LexT/v16
/Source/x64/Debug/LexT.tlog
/Source/x64/Debug
/UnitTest/x64/Debug/UnitTest.tlog
/UnitTest/x64/Debug
